In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [2]:
movies = pd.read_csv("movies.csv")
credits = pd.read_csv("credits.csv")

In [3]:
movies.shape, credits.shape

((4803, 20), (4803, 4))

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
movie_credits = pd.merge(movies, credits, left_on="id", right_on = "movie_id")
movie_credits.shape

(4803, 24)

In [7]:
movie_credits["genres"]

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801                                                   []
4802                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4803, dtype: object

In [8]:
movie_credits.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [9]:
movie_credits = movie_credits[["movie_id","title_x","overview","genres","keywords","cast","crew"]]

In [10]:
movie_credits.shape

(4803, 7)

In [11]:
movie_credits.dropna(inplace = True)

In [12]:
movie_credits.shape

(4800, 7)

In [13]:
json.loads(movie_credits["genres"][0])

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [14]:
def extract_values(str_lst):
    values = json.loads(str_lst)
    return [value["name"] for value in values]

In [15]:
extract_values(movie_credits["genres"][0])

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [16]:
movie_credits["genres"] = movie_credits["genres"].apply(extract_values)
movie_credits["genres"]

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4800, dtype: object

In [17]:
movie_credits["keywords"] = movie_credits["keywords"].apply(extract_values)
movie_credits["keywords"]

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4798    [united states–mexico barrier, legs, arms, pap...
4799                                                   []
4800    [date, love at first sight, narration, investi...
4801                                                   []
4802            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4800, dtype: object

In [18]:
movie_credits["cast"] = movie_credits["cast"].apply(extract_values)

In [19]:
movie_credits["cast"]

0       [Sam Worthington, Zoe Saldana, Sigourney Weave...
1       [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2       [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3       [Christian Bale, Michael Caine, Gary Oldman, A...
4       [Taylor Kitsch, Lynn Collins, Samantha Morton,...
                              ...
4798    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4799    [Edward Burns, Kerry Bishé, Marsha Dietlein, C...
4800    [Eric Mabius, Kristin Booth, Crystal Lowe, Geo...
4801    [Daniel Henney, Eliza Coupe, Bill Paxton, Alan...
4802    [Drew Barrymore, Brian Herzlinger, Corey Feldm...
Name: cast, Length: 4800, dtype: object

In [20]:
movie_credits["cast"] = movie_credits["cast"].apply(lambda lst: lst[:3])
movie_credits["cast"]

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4798    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4799         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4800           [Eric Mabius, Kristin Booth, Crystal Lowe]
4801            [Daniel Henney, Eliza Coupe, Bill Paxton]
4802    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4800, dtype: object

In [21]:
# movie_credits["crew"][0]

In [22]:
def fetch_director(str_lst):
    values = json.loads(str_lst)
    return [value["name"] for value in values if value["job"] == "Director"]

In [23]:
movie_credits["crew"] = movie_credits["crew"].apply(fetch_director)
movie_credits["crew"].head()

0        [James Cameron]
1       [Gore Verbinski]
2           [Sam Mendes]
3    [Christopher Nolan]
4       [Andrew Stanton]
Name: crew, dtype: object

In [24]:
movie_credits["overview"] = movie_credits["overview"].str.split()
movie_credits["overview"]

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4798    [El, Mariachi, just, wants, to, play, his, gui...
4799    [A, newlywed, couple's, honeymoon, is, upended...
4800    ["Signed,, Sealed,, Delivered", introduces, a,...
4801    [When, ambitious, New, York, attorney, Sam, is...
4802    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4800, dtype: object

In [25]:
movie_credits.head()

,movie_id,title_x,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [26]:
#Cristianoronaldo

In [27]:
def collapse(lst):
    final_lst = []
    for i in lst:
        final_lst.append(i.replace(" ",""))
    return final_lst

In [28]:
movie_credits["cast"].apply(collapse)

0        [SamWorthington, ZoeSaldana, SigourneyWeaver]
1           [JohnnyDepp, OrlandoBloom, KeiraKnightley]
2            [DanielCraig, ChristophWaltz, LéaSeydoux]
3            [ChristianBale, MichaelCaine, GaryOldman]
4          [TaylorKitsch, LynnCollins, SamanthaMorton]
                             ...
4798    [CarlosGallardo, JaimedeHoyos, PeterMarquardt]
4799         [EdwardBurns, KerryBishé, MarshaDietlein]
4800           [EricMabius, KristinBooth, CrystalLowe]
4801            [DanielHenney, ElizaCoupe, BillPaxton]
4802    [DrewBarrymore, BrianHerzlinger, CoreyFeldman]
Name: cast, Length: 4800, dtype: object

In [29]:
movie_credits["cast"] = movie_credits["cast"].apply(collapse)
movie_credits["crew"] = movie_credits["crew"].apply(collapse)
movie_credits["genres"] = movie_credits["genres"].apply(collapse)
movie_credits["keywords"] = movie_credits["keywords"].apply(collapse)

In [30]:
movie_credits.head()

,movie_id,title_x,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [31]:
movie_credits["tags"] =  movie_credits["overview"] + movie_credits["genres"] + movie_credits["keywords"] + movie_credits["cast"] + movie_credits["crew"]

In [32]:
movie_credits["tags"][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [33]:
movie_credits.columns

Index(['movie_id', 'title_x', 'overview', 'genres', 'keywords', 'cast', 'crew',
       'tags'],
      dtype='object')

In [34]:
final_df = movie_credits[["movie_id","title_x","tags"]]

In [35]:
final_df

,movie_id,title_x,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4798,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4799,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4800,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4801,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4802,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [36]:
final_df.rename({"title_x":"title"}, axis = 1, inplace = True)

C:\Users\Lenovo T 470\AppData\Local\Temp\ipykernel_4236\1905065662.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.rename({"title_x":"title"}, axis = 1, inplace = True)

In [37]:
final_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4798,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4799,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4800,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4801,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4802,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [38]:
" ".join(["Gohertz","Sheikh","Ebada"])

'Gohertz Sheikh Ebada'

In [39]:
final_df["tags"] = final_df["tags"].apply(lambda x:" ".join(x))

C:\Users\Lenovo T 470\AppData\Local\Temp\ipykernel_4236\901962839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["tags"] = final_df["tags"].apply(lambda x:" ".join(x))

In [40]:
final_df["tags"][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [41]:
final_df["tags"] = final_df["tags"].str.lower()

C:\Users\Lenovo T 470\AppData\Local\Temp\ipykernel_4236\1337142693.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["tags"] = final_df["tags"].str.lower()

In [42]:
final_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [43]:
from sklearn.feature_extraction.text import CountVectorizer

In [44]:
cv = CountVectorizer(max_features=5000, stop_words="english")

In [45]:
vector = cv.fit_transform(final_df["tags"])
vector

<4800x5000 sparse matrix of type '<class 'numpy.int64'>'
	with 133677 stored elements in Compressed Sparse Row format>

In [46]:
vector = vector.toarray()
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [47]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [48]:
print(cv.get_stop_words())

frozenset({'either', 'beside', 'something', 'bill', 'has', 'eleven', 'toward', 'wherein', 'yourself', 'while', 'which', 'herein', 'go', 'therein', 'to', 'it', 'in', 'thin', 'though', 'namely', 'wherever', 'among', 'but', 'indeed', 'nobody', 'they', 'sixty', 'yours', 'amongst', 'several', 'others', 'somehow', 'through', 'beforehand', 'an', 'no', 'once', 'himself', 'that', 'any', 'same', 'thence', 'before', 'below', 'always', 'why', 'fill', 'us', 'cry', 'ie', 'other', 'you', 'top', 'due', 'most', 'ours', 'must', 'he', 'latterly', 'although', 'she', 're', 'now', 'our', 'across', 'down', 'thereby', 'themselves', 'about', 'or', 'both', 'co', 'than', 'find', 'often', 'within', 'de', 'see', 'whence', 'sometime', 'along', 'again', 'towards', 'ltd', 'hasnt', 'those', 'because', 'whereafter', 'fire', 'will', 'had', 'them', 'seemed', 'formerly', 'thick', 'without', 'would', 'besides', 'together', 'via', 'everything', 'beyond', 'myself', 'him', 'serious', 'first', 'nine', 'each', 'ever', 'alone', 'one', 'not', 'nor', 'part', 'can', 'where', 'take', 'yet', 'whoever', 'hereupon', 'empty', 'per', 'after', 'inc', 'whereas', 'becoming', 'my', 'moreover', 'be', 'sometimes', 'here', 'am', 'hers', 'hereafter', 'how', 'rather', 'over', 'up', 'un', 'whereupon', 'however', 'made', 'its', 'too', 'give', 'enough', 'amount', 'by', 'into', 'nevertheless', 'when', 'interest', 'twelve', 'with', 'as', 'a', 'five', 'ourselves', 'another', 'please', 'every', 'throughout', 'system', 'anyhow', 'very', 'etc', 'nothing', 'between', 'anything', 'being', 'out', 'thus', 'somewhere', 'itself', 'there', 'become', 'above', 'found', 'eg', 'mine', 'move', 'of', 'until', 'if', 'own', 'describe', 'bottom', 'their', 'more', 'still', 'and', 'already', 'everyone', 'thereafter', 'perhaps', 'were', 'behind', 'could', 'con', 'should', 'whereby', 'last', 'whither', 'anywhere', 'six', 'few', 'under', 'less', 'so', 'since', 'sincere', 'mill', 'detail', 'further', 'me', 'therefore', 'four', 'are', 'name', 'fifty', 'mostly', 'who', 'upon', 'elsewhere', 'meanwhile', 'your', 'except', 'from', 'show', 'have', 'whether', 'became', 'might', 'then', 'her', 'amoungst', 'thru', 'seems', 'during', 'front', 'i', 'whole', 'anyone', 'well', 'least', 'do', 'hence', 'two', 'ten', 'cannot', 'whom', 'all', 'whose', 'next', 'thereupon', 'never', 'full', 'yourselves', 'such', 'three', 'get', 'seem', 'at', 'back', 'may', 'everywhere', 'hereby', 'done', 'side', 'the', 'even', 'for', 'else', 'almost', 'herself', 'nowhere', 'this', 'been', 'neither', 'his', 'anyway', 'put', 'fifteen', 'only', 'becomes', 'is', 'former', 'also', 'couldnt', 'around', 'latter', 'forty', 'was', 'call', 'eight', 'seeming', 'we', 'hundred', 'twenty', 'against', 'cant', 'whenever', 'third', 'on', 'noone', 'these', 'off', 'some', 'otherwise', 'whatever', 'someone', 'keep', 'onto', 'many', 'much', 'what', 'afterwards', 'none'})

In [49]:
list(cv.get_feature_names_out())[50:60]

['abandoned',
 'abducted',
 'abigailbreslin',
 'abilities',
 'ability',
 'able',
 'aboard',
 'abuse',
 'abusive',
 'academy']

In [50]:
import nltk

In [51]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [52]:
ps.stem("love")

'love'

In [53]:
ps.stem("loved")

'love'

In [54]:
ps.stem("loving")

'love'

In [55]:
def stem(txt):
    lst = []
    
    for i in txt.split():
        lst.append(ps.stem(i))
        
    return " ".join(lst)

In [56]:
stem(final_df["tags"][0])

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [57]:
final_df["tags"] = final_df["tags"].apply(stem)

C:\Users\Lenovo T 470\AppData\Local\Temp\ipykernel_4236\1628141165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["tags"] = final_df["tags"].apply(stem)

In [58]:
final_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [59]:
cv = CountVectorizer(max_features = 5000, stop_words = "english")

In [60]:
vector = cv.fit_transform(final_df["tags"])
vector

<4800x5000 sparse matrix of type '<class 'numpy.int64'>'
	with 145203 stored elements in Compressed Sparse Row format>

In [61]:
vector = vector.toarray()
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [62]:
list(cv.get_feature_names_out())[50:60]

['500',
 '60',
 '70',
 '80',
 'aaron',
 'aaroneckhart',
 'abandon',
 'abduct',
 'abigailbreslin',
 'abil']

In [63]:
final_df.shape

(4800, 3)

In [64]:
# calculate vector

In [65]:
from sklearn.metrics.pairwise import cosine_similarity

In [66]:
similarity = cosine_similarity(vector)

In [67]:
similarity.shape

(4800, 4800)

In [68]:
similarity

array([[1.        , 0.08585457, 0.08718573, ..., 0.04559608, 0.        ,
        0.        ],
       [0.08585457, 1.        , 0.06154575, ..., 0.02414023, 0.        ,
        0.02654659],
       [0.08718573, 0.06154575, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04559608, 0.02414023, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02654659, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [69]:
similarity[0]

array([1.        , 0.08585457, 0.08718573, ..., 0.04559608, 0.        ,
       0.        ])

In [70]:
# Recommendation

In [71]:
final_df.reset_index(drop = True, inplace = True)

In [72]:
movie_index = final_df[final_df["title"] == "Batman"].index[0]
movie_index

1359

In [73]:
distances = similarity[movie_index]
distances

array([0.05479966, 0.08703883, 0.05892557, ..., 0.        , 0.0952381 ,
       0.07624929])

In [74]:
index_list = list(enumerate(distances))
index_list[:10]

[(0, 0.05479966243511909),
 (1, 0.08703882797784893),
 (2, 0.05892556509887895),
 (3, 0.3019405424385589),
 (4, 0.14586499149789453),
 (5, 0.15590239111558088),
 (6, 0.020672455764868078),
 (7, 0.1256297269074015),
 (8, 0.18257418583505536),
 (9, 0.22360679774997896)]

In [75]:
similar_movie =sorted(index_list,reverse = True, key = lambda x: x[1])[1:11]
similar_movie

[(210, 0.4114755998989118),
 (119, 0.3340765523905305),
 (428, 0.32500562298329577),
 (4523, 0.32242634688922367),
 (3, 0.3019405424385589),
 (299, 0.2850620368313788),
 (3305, 0.28005601680560194),
 (1140, 0.2787473366690303),
 (1450, 0.2777777777777778),
 (4141, 0.27638539919628335)]

In [76]:
for i in similar_movie:
    print(final_df.iloc[i[0]],1)

movie_id                                                  415
title                                          Batman & Robin
tags        along with crime-fight partner robin and new r...
Name: 210, dtype: object 1
movie_id                                                  272
title                                           Batman Begins
tags        driven by tragedy, billionair bruce wayn dedic...
Name: 119, dtype: object 1
movie_id                                                  364
title                                          Batman Returns
tags        have defeat the joker, batman now face the pen...
Name: 428, dtype: object 1
movie_id                                                36825
title                                                The R.M.
tags        jare phelp (kirbi heyborne) ha complet two yea...
Name: 4523, dtype: object 1
movie_id                                                49026
title                                   The Dark Knight Rises
tags        follow the death of district attorney harvey d...
Name: 3, dtype: object 1
movie_id                                                  414
title                                          Batman Forever
tags        the dark knight of gotham citi confront a dast...
Name: 299, dtype: object 1
movie_id                                               389425
title                                           Code of Honor
tags        colonel robert sike is on a mission to rid hi ...
Name: 3305, dtype: object 1
movie_id                                                27936
title                                                 Micmacs
tags        a man and hi friend come up with an intric and...
Name: 1140, dtype: object 1
movie_id                                                13056
title                                      Punisher: War Zone
tags        wage hi one-man war on the world of organ crim...
Name: 1450, dtype: object 1
movie_id                                                20406
title                                                Rockaway
tags        trane is a decor war hero just ship home to th...
Name: 4141, dtype: object 1

In [77]:
def recommender(movie_name):
    movie_index = final_df[final_df["title"] == movie_name].index[0]
    distances = similarity[movie_index]
    index_list = list(enumerate(distances))
    similar_movie = sorted(index_list, reverse = True, key = lambda x: x[1])[1:11]
    for i in similar_movie:
        print(final_df.iloc[i[0]].title)

In [78]:
recommender("Avatar")

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.
Battle: Los Angeles
Predators
Small Soldiers
Meet Dave
U.F.O.

In [79]:
recommender("Iron Man")

Iron Man 3
Iron Man 2
Avengers: Age of Ultron
The Avengers
Captain America: Civil War
Guardians of the Galaxy
X-Men
Thor: The Dark World
Ant-Man
X-Men Origins: Wolverine

In [80]:
recommender("Thor")

Thor: The Dark World
Clash of the Titans
After Earth
Ant-Man
Iron Man 2
Avengers: Age of Ultron
Rockaway
Little Nicky
Batman v Superman: Dawn of Justice
The Incredible Hulk

In [81]:
import pickle

In [82]:
pickle.dump(final_df,open("movie_list.pkl","wb"))
pickle.dump(similarity,open("similarity.pkl","wb"))

# TMDB API

https://www.themoviedb.org (https://www.themoviedb.org), https://developer.themoviedb.org/docs
(https://developer.themoviedb.org/docs)

In [83]:
import requests

In [99]:
url =  f"https://api.themoviedb.org/3/movie/{33333}?api_key=c991e3b4cba57ea0e21fba1bacd7d25a"
data = requests.get(url)
data = data.json()

In [100]:
poster_path = data["poster_path"]
poster_path

'/hfK1bvYf9l9S75ZW7E4GjGmT2fW.jpg'

In [101]:
full_path = "https://image.tmdb.org/t/p/w500/" + poster_path
print(full_path)

https://image.tmdb.org/t/p/w500//hfK1bvYf9l9S75ZW7E4GjGmT2fW.jpg

In [103]:
def fetch_poster(movie_id):
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key=c991e3b4cba57ea0e21fba1bacd7d25a"
    data = requests.get(url)
    data = data.json()
    poster_path = data["poster_path"]
    full_path = "https://image.tmdb.org/t/p/w500/" + poster_path
    return full_path

In [105]:
print(fetch_poster(14445))

https://image.tmdb.org/t/p/w500//bBW5bd2nWfAmapelcxXMqCDTwbV.jpg

In [91]:
def recommend(movie_name):
    movie_index = final_df[final_df["title"] == movie_name].index[0]
    distances = similarity[movie_index]
    index_list = list(enumerate(distances))
    similar_movie = sorted(index_list, reverse = True, key = lambda x: x[1])[1:11]
    
    recommended_movie_name = []
    recommended_movie_posters = []
    
    for i in similar_movie:
        # fetch the movie poster
        movie_id = final_df.iloc[i[0]].movie_id
        recommended_movie_posters.append(fetch_poster(movie_id))
        recommended_movie_name.append(final_df.iloc[i[0]].title)
        
    return recommended_movie_name, recommended_movie_posters

In [92]:
recommend("Avatar")

(['Aliens vs Predator: Requiem',
  'Aliens',
  'Falcon Rising',
  'Independence Day',
  'Titan A.E.',
  'Battle: Los Angeles',
  'Predators',
  'Small Soldiers',
  'Meet Dave',
  'U.F.O.'],
 ['https://image.tmdb.org/t/p/w500//5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg',
  'https://image.tmdb.org/t/p/w500//5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg',
  'https://image.tmdb.org/t/p/w500//5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg',
  'https://image.tmdb.org/t/p/w500//5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg',
  'https://image.tmdb.org/t/p/w500//5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg',
  'https://image.tmdb.org/t/p/w500//5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg',
  'https://image.tmdb.org/t/p/w500//5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg',
  'https://image.tmdb.org/t/p/w500//5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg',
  'https://image.tmdb.org/t/p/w500//5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg',
  'https://image.tmdb.org/t/p/w500//5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg'])